{{#modal-dialog action='close' isOpen=isOpen}}
<h3>{{selected.value}}</h3>
<ul class="modal-menu">
  {{#if hasPlaylist}}
  <li {{action 'queueNext'}}>
    <span class="menu-item fi-clock">Queue next</span>
  </li>
  {{/if}}
  <li {{action 'playNow'}}>
    <span class="menu-item fi-play">Play now</span>
  </li>
  {{#if hasAlbum}}
  <li {{action 'playAlbum'}}>
    <span class="menu-item fi-record">Play album <i>{{selected.album}}</i></span>
  </li>
  {{/if}}
  {{#if hasIndex}}
  <li {{action 'removeFromQueue'}}>
    <span class="menu-item fi-prohibited">Remove from queue</span>
  </li>
  {{/if}}
</ul>
{{/modal-dialog}}
