<div class="playlist fade-in">
  <header class="current">
    <figure class="fanart">
      <div class="thumb" {{bind-attr style="fanart"}}></div>
      <div class="thumb reflect" {{bind-attr style="fanart"}}></div>
    </figure>
    <div class="label">
      {{#if nowplaying.label}}<h3><span>{{nowplaying.label}}</span></h3>{{/if}}
      {{#if nowplaying.title}}<h5><span>{{nowplaying.title}}</span></h5>{{/if}}
    </div>
  </header>
  <ol class="list numbered">
    {{#each}}
      <li {{action 'openModal' this}}>
        <span class="label">{{value}}</span>
      </li>
    {{else}}
      <li class="empty-list">
        <h2 class="label">Playlist Empty</h2>
        <i class="icon fi-sound"></i>
      </li>
    {{/each}}
  </ol>
</div>
