<div class="utilities fade-in">
  <header class="header">
    <h2><i class="fi-wrench"></i> Utilities</h2>
  </header>
  <ul class="list">
    <li {{action 'videoLibraryScan'}}>
      <span class="label"><i class="fi-video list-icon"></i> Update video library</span>
    </li>
    <li {{action 'audioLibraryScan'}}>
      <span class="label"><i class="fi-music list-icon"></i> Update audio library</span>
    </li>
    <li {{action 'setFullscreen'}}>
      <span class="label"><i class="fi-arrows-out list-icon"></i> Set fullscreen</span>
    </li>
    <li {{action 'inputClose'}}>
      <span class="label"><i class="fi-x list-icon"></i> Close on-screen window</span>
    </li>
    <li {{action 'openModal' 'systemReboot'}}>
      <span class="label"><i class="fi-refresh list-icon"></i> Reboot system</span>
    </li>
    <li {{action 'openModal' 'clearSearch'}}>
      <span class="label"><i class="fi-magnifying-glass list-icon"></i> Clear search cache</span>
    </li>
  </ul>
</div>
